# وابستگی‌ها
node_modules/

# فایل‌های خروجی فرآیند ساخت
dist/
build/
out/
public/build/

# فایل‌های لاگ
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# فایل‌های محیطی (Environment)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# فایل‌های کش و موقتی
.cache/
*.cache
*.tmp
*.temp

# فایل‌های ویرایشگرها و IDEها
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# فایل‌های سیستم‌عامل
.DS_Store
Thumbs.db

# فایل‌های تست و پوشش کدها
coverage/
*.lcov

# سایر فایل‌های غیرضروری
*.bak
*.gho
*.orig
*.rej
*.sublime*