*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(184, 184, 184);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10vw;
}
.div1{
    min-width: 40vw;
    min-height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: top;
    gap: 10px;
    background-color: white;
    padding: 10px;
    border-radius: 15px;
}
.div1-div1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: top;
    gap: 10px;
    background-color: white(184, 184, 184) ;
    width: 80%;
}
#div1-div1-btn1{
    width: 100%;
    background-color: rgba(61, 99, 59, 1);
    padding: 5px;
    border-radius: 5px;
    border: none;
    color: white;

}
.div1-div1-div1{
    background-color: rgb(184, 184, 184);
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px;
    border-radius: 5px;
    align-items: center;
}
.div1-div1-div1-textarea{
    font-size: 1rem;
    font-weight: 400;
    border: none;
    background-color: rgb(184, 184, 184);
    width: 80%;
    min-height: 100px;
    resize: none;
}
.div1-div1-div1>div>button{
    background-color: rgb(184, 184, 184);
    border: none;

}

.register{
    background-color: #abd2fac4;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3vw;
    padding: 4vw;
}
.register .div1{
    background-color: #3D518C;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1vw;
    padding: 2vw;
    border-radius: 1vw;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
    width: 30vw;
}
.register .div1:hover{
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}
.register .div2{
    background-color: #7692FF;
    padding: 2vw;
    border-radius: 1vw;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;

}
.register .div1>h2{
    color: #ABD2FA;
}
.register .div1>input{
    background-color: #7692FF;
    color: #091540;
    padding: 1vw;
    border-radius: 1vw;
    border: none;
}
.register .div1>input::placeholder{
    color: #091540;
    
}
.register .div1>button{
    background-color: #ABD2FA;
    color: #091540;
    padding: 1vw;
    border-radius: 1vw;
    border: none;
}

.login{
    background-color: #abd2fac4;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3vw;
    padding: 4vw;
}
.login .div1{
    background-color: #3D518C;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1vw;
    padding: 2vw;
    border-radius: 1vw;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
    width: 30vw;
}
.login .div1:hover{
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}
.login .div2{
    background-color: #7692FF;
    padding: 2vw;
    border-radius: 1vw;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;

}
.login .div1>h2{
    color: #ABD2FA;
}
.login .div1>input{
    background-color: #7692FF;
    color: #091540;
    padding: 1vw;
    border-radius: 1vw;
    border: none;
}
.login .div1>input::placeholder{
    color: #091540;
    
}
.login .div1>button{
    background-color: #ABD2FA;
    color: #091540;
    padding: 1vw;
    border-radius: 1vw;
    border: none;
}